<%# 給餌記録フォーム（new/edit共用） %>
<%= form_with model: [@zone, @animal, feeding_record] do |f| %>
  <% if feeding_record.errors.any? %>
    <ul>
      <% feeding_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :fed_at, "급여 일시" %>
    <%= f.datetime_local_field :fed_at %>
  </div>

  <div>
    <%= f.label :food_type, "먹이 종류" %>
    <%= f.text_field :food_type, placeholder: "예: 펠렛, 채소, 과일" %>
  </div>

  <div>
    <%= f.label :amount_g, "급여량 (g)" %>
    <%= f.number_field :amount_g, step: 1, min: 0 %>
  </div>

  <div>
    <%= f.label :note, "특이사항" %>
    <%= f.text_area :note %>
  </div>

  <%= f.submit %>
<% end %>
